<?xml version="1.0" encoding="UTF-8"?>
<interface>
  <menu id="app-menu">
    <section>
        <item>
            <attribute name="label">Drama</attribute>
            <attribute name="action">app.tvhgdrama</attribute>
        </item>
        <item>
            <attribute name="label">Documentary</attribute>
            <attribute name="action">app.tvhgdocumentary</attribute>
        </item>
        <item>
            <attribute name="label">Music</attribute>
            <attribute name="action">app.tvhgmusic</attribute>
        </item>
        <item>
            <attribute name="label">Apply</attribute>
            <attribute name="action">app.tvhgapply</attribute>
        </item>
        <item>
            <attribute name="label">Quit</attribute>
            <attribute name="action">app.quit</attribute>
        </item>
    </section>
  </menu>
</interface>
